header {
    width: 800px;
    height: 200px;
    box-sizing: border-box;
    border: solid red 4px;
}

main {
    margin: 0 auto;
    display: flex;
}

nav {
    width: 100px;
    height: 400px;
    box-sizing: border-box;
    border: solid orange 4px;
}

section {
    width: 700px;
    height: 400px;
    box-sizing: border-box;
    border: solid lightsalmon 4px;
}

footer {
    width: 800px;
    height: 200px;
    box-sizing: border-box;
    border: solid grey 4px;
}
